node_modules
.DS_Store
build/
yarn-error.log
.env*
!.env.example
!.env.sample
.vscode/
tests/logs.json
tests/states.json
tests/configs.json
.idea/
local-scripts
tests/debug-price-route.json
.husky/.git-secrets-installed
